<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">${db.url}</property>
        <property name="hibernate.connection.username">${db.user}</property>
        <property name="hibernate.connection.password">${db.pass}</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="ru.itmo.isitmolab.model.Vehicle"/>
    </session-factory>
</hibernate-configuration>

<!--
java    -Ddb.url=jdbc:postgresql://localhost:5432/studs
        -Ddb.user=login
        -Ddb.pass=password
        -jar build/libs/app.jar
\-->